:host {
    mat-card {
        width: 300px;
        height: 530px;
        background-color: var(--black-010);
        color: white;
    }
    
    span {
        margin-left: 4rem;
    }

    img {
        height: 300px;
        width: 100%;
        margin-bottom: 5px;
    }

    button {
        width: 48%;
    }

    mat-card-actions {
        display: flex;
        justify-content: space-between;
    }

    mat-card-title {
        color: var(--primary);
    }

    mat-card-subtitle {
        color: var(--white);
    }
    
    @media (max-width: 600px) {
        mat-card {
          height: 530px;
        }
      }
}