:host {
    footer { 
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 1.5rem;
        width: 100%;
 
        background-color: var(--primary-010);

        a {
            font-size: 1rem;
            color: var(--black);
        }
    }
}